{% extends 'base.html.twig' %}


{% block title %}Série #{{ program.id }}{% endblock %}


{% block body %}

   <div class="media">

      <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">

      <div class="media-body">

         <h1 class="mt-0">{{ program.title }}</h1>
         <h1 class="mt-0">season {{ season.number }}</h1>
         <p>{{ program.synopsis }}</p>

         <p>Catégorie : {{ program.category.name }}</p>

         <p>Liste des episodes</p>

         {% for episode in season.episodes %}



               <h2>{{ episode.title }}</h2>



         {% else %}

            Aucune categorie trouvée.

         {% endfor %}


      </div>

   </div>


   <a href="{{ path('program_') }}">

      Retour à la liste des programmes

   </a>

{% endblock %}